<html>
    
        <title>Computer Technology shop system</title>
    
    <body>
        <div class="textwidget"></div>
		</section><section id="custom_html-3" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget"><div class="branch">
<div class="address"><strong>JAIPUR Branch Address :</strong> Shop no 33/34 GT bazar first floor Gaurav towers, D-Block, Malviya Nagar, Jaipur, Rajasthan 302017
<strong>Contact Number:</strong> 098281 75555</div>
<div class="map"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.5157575797025!2d75.80487911477218!3d26.855350133152317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db675f48583a3%3A0x61adf98310f05ad7!2sLaptop+Store+in+Malviya+Nagar++Digital+Dreams!5e0!3m2!1sen!2sin!4v1526384834956" width="100%" height="300" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</div>
<div class="branch">
<div class="address"><strong>JAIPUR Branch Address :</strong> Shop no G2, Royal Plaza, Gautam Marg, Sector 6, Vaishali Nagar, Jaipur, Rajasthan 302021
<strong>Contact Number:</strong> 0098281 53338</div>
<div class="map"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3557.77528353534!2d75.74125231504487!3d26.910625983128565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db49dd3395555%3A0x7eea8b2c983f6499!2sLaptop+Shop+in+Vaishali+Nagar%2C+Digital+Dreams!5e0!3m2!1sen!2sin!4v1526386443374" width="100%" height="300" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</div>
<div class="branch">
<div class="address"><strong>JAIPUR Branch Address :</strong> S-12, 3rd floor, Shubham tower, Hazi Colony, Subhash Nagar, Jaipur, Rajasthan 302016
<strong>Contact Number:</strong> 098281 69222</div>
<div class="map"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3556.9255347414155!2d75.79806251504546!3d26.937575083116915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db3e6ba3b4a2d%3A0xfac32b107ca67de0!2sLenovo+Store+-+Digital+Dreams!5e0!3m2!1sen!2sin!4v1526388044963" width="100%" height="300" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</div>
<div class="branch">
<div class="address"><strong>AJMER Branch Address :</strong> Shop No 1375 Station Road Opp Indra Gandhi Samark, Ajmer, Rajasthan 305001
<strong>Contact Number:</strong> 098281 99770</div>
<div class="map"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3572.0871381019647!2d74.63535231476273!3d26.452919983327817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396be71fac148975%3A0x8d7d417ca259453d!2sLaptop+Store+-+Digital+Dreams!5e0!3m2!1sen!2sin!4v1526388360061" width="100%" height="300" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</div>
<div class="branch">
<div class="address"><strong>Jodhpur Branch Address :</strong> shop no 1 plot no E 62 sec E opp kalpatru shopping center, Shastri Nagar, Jodhpur, Rajasthan
<strong>Contact Number:</strong> 098281 95888</div>
<div class="map"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3577.6631145300435!2d73.00117131475852!3d26.27259498340751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39418d6fdb557afb%3A0x897939a92a2b2dcb!2sDigital+dreams!5e0!3m2!1sen!2sin!4v1526388462556" width="100%" height="300" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</div>
<div class="branch">
<div class="address"><strong>Jaipur, Jayanti Market :</strong>Digital Dreams - C-10, MI Road, Panch Batti, Jayanti Market, Jaipur, Rajasthan 302001
<strong>Contact Number:</strong> 098281 48883</div>
<div class="map"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3557.585594493594!2d75.80733831463624!3d26.916643983125887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db3deffffffff%3A0xd2496f72cbc3acb3!2sLenovo+Exclusive+Store!5e0!3m2!1sen!2sin!4v1527074794037" width="100%" height="300" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</div>
<div class="branch">
<div class="address"><strong>Dell Laptop Store - Jodhpur :</strong>shop no1 plot 64 Opp Miraj Bioscope Cinema, Shastri Nagar,Jodhpur, Rajasthan 342003
<strong>Contact Number:</strong> 9828195888</div>
<div class="map"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d114485.36976346873!2d72.9338031807925!3d26.272442808124215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x39418dacf64c7879%3A0xd51624b39fc57876!2sdell+laptop+store+in+jodhpur+address!3m2!1d26.2724598!2d73.0038435!5e0!3m2!1sen!2sin!4v1538396826455" width="100%" height="300" frameborder="0" allowfullscreen=""></iframe></div>
</div>
<div class="branch">
<div class="address"><strong>HP Laptop Store - Malviya Nagar Jaipur :</strong>shop no 1 ,1st Floor Gaurav Tower
Malviya Nagar Jaipur, Rajasthan 302017
<strong>Contact Number:</strong> 9828196888</div>
<div class="map"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d7571181.912779735!2d72.7458656168341!3d22.092927443513194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d17.5374336!2d78.3654912!4m5!1s0x396db57bc8b20f61%3A0xdf69ae6ffbba1883!2sHP+Laptop+Store+in+Malviya+Nagar+Jaipur+shop+no+1+%2C1st+Floor+Gaurav+Tower+Malviya+Nagar+Jaipur%2C+Rajasthan+302017!3m2!1d26.855598999999998!2d75.8069163!5e0!3m2!1sen!2sin!4v1538396679591" width="100%" height="300" frameborder="0" allowfullscreen=""></iframe></div>
</div>
<div class="branch">
<div class="address"><strong>Lenovo Laptop Store - Vaishali Nagar Jaipur:</strong>Sector 6, Nemi Nagar, Vaishali Nagar Jaipur, Rajasthan 302021
<strong>Contact Number:</strong> 9828153338</div>
<div class="map"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113848.82678390558!2d75.67340019499458!3d26.910608422397797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db49dd3395555%3A0xa265f1f6e31f8daf!2sLaptop+Store-Digital+Dreams!5e0!3m2!1sen!2sin!4v1538396332657" width="100%" height="300" frameborder="0" allowfullscreen=""></iframe></div>
</div>
<div class="branch">
<div class="address"><strong>Laptop Store - Kota:</strong> Shop 2, Mehta Compound,26 jhalawar road ,
Kota, Rajasthan 324007
<strong>Contact Number:</strong> 9828103338</div>
<div class="map"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115551.64359194084!2d75.78204565699664!3d25.1698539215731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396f9bbe55b58261%3A0xfd78d98361dc7fa8!2sLaptop+Store-Digital+Dreams!5e0!3m2!1sen!2sin!4v1538396198397" width="100%" height="300" frameborder="0" allowfullscreen=""></iframe></div>
</div>

<div class="branch">
<div class="address">
<strong>Lenovo Exclusive Store - Vaishali Nagar, Jaipur:</strong> 
Digital Dreams - Shop No-G2, royal plaza, Opp Gupta store, Amrapali circle,
Sector-6 Vaishali Nagar
Jaipur, Rajasthan 302021<strong>Contact Number:</strong>
9828153338</div>

<div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d113848.77403703112!2d75.67349169499577!3d26.91066072237473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x396db49dd2e6ad03%3A0xc9f4a91bef86019c!2sLenovo+Exclusive+Store+Digital+Dreams+-+Shop+No-G2%2C+royal+plaza%2C+Opp+gupta+store%2Camarpali+circle+Sector+6%2C+Vaishali+Nagar+Jaipur%2C+Rajasthan+302021!3m2!1d26.910677999999997!2d75.743532!5e0!3m2!1sen!2sin!4v1538399705731" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
</div>

<div class="branch">

<div class="address">
<strong>Lenovo Exclusive Store - Jayanti Market, Jaipur:</strong> 
Digital Dreams - C-10, Jayanti Market, Panch Batti Mirza Ismail Road
Jaipur, Rajasthan 302001
	
<strong>Contact Number:</strong>
9828148883</div>

<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d113842.75643828332!2d75.73948669513004!3d26.916626719743814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x396db3deffffffff%3A0xd2496f72cbc3acb3!2sLenovo+Exclusive+Store+Digital+Dreams+-+C-10+Mirza+Ismail+Road+Panch+Batti%2C+Jayanti+Market+Jaipur%2C+Rajasthan+302001!3m2!1d26.916643999999998!2d75.809527!5e0!3m2!1sen!2sin!4v1538399916973" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
</div>

<div class="branch">

<div class="address">
<strong>Lenovo Exclusive Store - Malviya Nagar, Jaipur:</strong> 
Shop no 33 1st floor GT bazar D block Gaurav tower
Malviya Nagar
Jaipur, Rajasthan 302017<strong>Contact Number:</strong>8048045496</div>

<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d113904.60408600801!2d75.73701819375025!3d26.855250946845448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x396db6756e12410f%3A0xc36898cde0a6a19!2sLenovo+Exclusive+Store+Shop+no+33+1st+floor+GT+bazar+D+block+Gaurav+tower+Malviya+Nagar+Jaipur%2C+Rajasthan+302017!3m2!1d26.855268199999998!2d75.8070585!5e0!3m2!1sen!2sin!4v1538400576201" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
</div>

<div class="branch">

<div class="address">
<strong>Lenovo Exclusive Store - Ajmer:</strong> 
Digital Dreams - Shop 1375 Jaipur road
opp Kamal automobile Ajmer station road
Ajmer, Rajasthan 305001
<strong>Contact Number:</strong>8048052940</div>

<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m19!1m12!1m3!1d62209.593530783284!2d77.6093696!3d12.9654784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m4!3e6!4m0!4m1!2sDigital+Dreams+-+Shop+1375+jaipur+road+opp+Kamal+automobile%2C+Station+Rd%2C+Patel+Nagar%2C+Topdara%2C+Ajmer%2C+Rajasthan+305001!5e0!3m2!1sen!2sin!4v1538400763626" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
</div>

<div class="branch">

<div class="address">
<strong>Lenovo Exclusive Store - Jodhpur:</strong> 
Digital Dreams-shop no 3 plot no 64
Kalpataru, Sindhi Colony, Sector-E, Shastri Nagar
Jodhpur, Rajasthan 342003
<strong>Contact Number:</strong>9828123639</div>

<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d114485.34993783399!2d72.93369168079292!3d26.272462908115077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x39418d6fdb557afb%3A0x897939a92a2b2dcb!2sLenovo+Exclusive+Store+Digital+Dreams-shop+no+3+plot+no+64+Kalpataru+Sindhi+Colony%2C+Sector-E%2C+Shastri+Nagar+Jodhpur%2C+Rajasthan+342003!3m2!1d26.2724799!2d73.003732!5e0!3m2!1sen!2sin!4v1538400930124" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
</div></div></section>
			
			
	</div>

</main>
</div> <!-- primary-home ends here -->

		
  </div><!-- #content -->

    </body>
</html>