<html>
  <head>
    <title>Computer Technology shop system</title>
  </head>
 <body>

                    <div align="center " style="width:575px;float:left;">
                        <div style="text-align:left;">
                            <u><h2>Contact us</h2></u>
                            <h5>
                                <div>
                                    Indian Institute of Information Techonology Kota<br> (mentor institute :- MNIT Jaipur)<br> Prabha Bhawan 2nd floor <br> Malviya nagar jaipur -302017 <br> Rajasthan India<br> Phone number :- ‎0141-2715071,0141-2713494<br>Email:-office@iiitkota.ac.in
                                    <br>
                                </div>

                                <div style="margin-top: 40px;">
                                    You can meet to the developers here<br>
                                   <p> <a href="https://www.facebook.com/harry.parmar.182">Hariom parmar(harry)</a></p>
                                   <p> <a href="https://www.facebook.com/naresh.upadhyay.96742">Naresh Upadhyay</a></p>
                                </div>
                            </h5>
                        </div>


                    </div>
                    
</body>

</html>